body {
  margin: 0px;
}

.title {
  font: 14px "Helvetica Neue";
  width: 190px;
  position: absolute;
  top: 15px;
  left: 0px;
  font-weight: bold;
  color: #417505;
  text-align: center;
}

.value {
  font: 30px "Helvetica Neue";
  color: rgba(255, 255, 255, .7);
  width: 190px;
  position: absolute;
  top: 43px;
  left: 0px;
  font-weight: bold;
  text-align: center;
}

.last_time {
  font: 10px "Helvetica Neue";
  color: rgba(255, 255, 255, .7);
  width: 190px;
  position: absolute;
  top: 90px;
  left: 0px;
  font-weight: bold;
  text-align: center;
}
